h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

strong {
    font-weight: bold;
}

/* Contenedor principal de burbujas */
#bubble-container {
    display: flex;
    flex-direction: column; /* Para que las filas se apilen verticalmente */
    gap: 15px; /* Espacio entre filas */
    overflow: hidden;
    width: 100%;
    user-select: none;
}

/* Animación de desplazamiento derecha a izquierda */
@keyframes scrollLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/* Animación de desplazamiento izquierda a derecha */
@keyframes scroll-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}

/* Lista de burbujas */
.bubble-list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    width: max-content;
    list-style: none;
    animation: scrollLeft 20s linear infinite;
}

/* Alternar dirección de movimiento */
.bubble-list:nth-child(even) {
    animation: scroll-reverse 20s linear infinite;
}

/* Estilos de burbujas */
.bubble {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}