/* ======================================================
   ESTILOS GENERALES PARA BODY Y HTML
   ====================================================== */
   body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, #B5B5B5, #F2F2F2);
}

/* ======================================================
   ANIMACIONES
   ====================================================== */
@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* ======================================================
   ESTILOS DE LA SECCIÓN "COMO LO HACEMOS"
   ====================================================== */
.como-lo-hacemos {
    width: 100%;
    height: auto; /* Ajuste dinámico de la altura */
    min-height: 100vh; /* Asegura que tenga al menos la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Evitar overflow en la sección */
}


.como-lo-hacemos h2 {
    font-size: 2.5rem; /* Tamaño grande para el título */
    font-weight: bold;
    margin-bottom: 15px;
}

.como-lo-hacemos p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.como-lo-hacemos iframe {
    width: 100%;
    height: 60vh; /* Ajuste de altura del iframe */
    max-height: 60vh; /* Limita la altura máxima del iframe */
    border: none;
}

.como-lo-hacemos .garantia {
    font-size: 1rem;
    font-weight: bold;
    color: #004d40;
    margin-top: 20px;
}

/* Estilo para el párrafo .garantia */
.como-lo-hacemos .garantia {
    font-size: 1rem;
    font-weight: bold;
    color: #000000; /* Color negro */
    margin-top: 20px;
}

/* Estilo para la palabra "garantía" */
.como-lo-hacemos .garantia-palabra {
    color: #00BFA2; /* Color específico para la palabra "GARANTÍA" */
}

/* ======================================================
MEDIAS QUERIES PARA PANTALLAS PEQUEÑAS (responsive)
   ====================================================== */
@media screen and (max-width: 768px) {
    .como-lo-hacemos h2 {
        font-size: 1.8rem; /* Ajustar tamaño de título en pantallas pequeñas */
    }

    .como-lo-hacemos p {
        font-size: 1rem; /* Ajustar tamaño del párrafo en pantallas pequeñas */
    }

    .como-lo-hacemos iframe {
        height: 50vh; /* Reducir la altura del iframe en pantallas pequeñas */
    }

    .como-lo-hacemos .garantia {
        font-size: 0.9rem;
    }
}
